.user-container {
  width: 100px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
      padding-bottom: 5px;
    }
  }
}
