@import '../variablesCSS';

* {
  margin: 0;
  padding: 0;
}

.board-container {
  display: flex;
  margin: 0px auto;
  flex-wrap: wrap;
  width: 1000px;
  height: 1000px;
  border: 1px solid black;
}

.cell {
  width: 100px;
  height: 100px;
  cursor: pointer;
  img {
    max-width: 20%;
    max-height: 20%;
    border-radius: 50%;
  }
}

.wall {
  width: 100px;
  height: 100px;
  background-color: grey;
}
