@import '../variablesCSS';

* {
  margin: 0;
  padding: 0;
}

.homeContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
